{% extends 'base.html' %}
{% load static %}

{% block title %} Alumno {% endblock title %}

{% block main %}
    <div>
        <a href="{% url 'listar_alumnos' %}" class="m-2 btn btn-primary">Listar alumnos</a>
    </div>
    {% if Alumno %}
        <div class="row">
            <div class="card m-2" style="width: 18rem;" >
                <div class="card-body">
                <h5 class="card-title">{{ Alumno.nombre }} {{ Alumno.apellido }}</h5>
                <p class="card-text">email: {{ Alumno.email }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card" style="width: 18rem;" >
            <div class="card-body">
                <p class="card-text">No se encontraron datos.</p>
            </div>
        </div>
    {% endif %}

{% endblock main %}